:root {
  --Melon: #FFB5A7;
  --PaleDogwood: #FCD5CE;
  --Seashell: #F8EDEB;
  --ChampagnePink: #F9DCC4;
  --Peach: #FEC89A;
  font-family: "Lexend", sans-serif;

}

.main-home {
  padding-inline: 10rem;

}

/************************* NAVBAR *************************/
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 3rem 1rem 3rem;
  gap: 1rem;


}

nav>button {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: var(--Melon);
  font-family: "Lexend", sans-serif;
  border: none;
  border-radius: 20px;
  padding: .8rem;
  font-weight: 700;
  cursor: pointer;


  &:hover {
    background-color: var(--ChampagnePink);

  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

nav>a:first-of-type {
  margin-right: auto;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

/************************* MODAL LOGIN *************************/
dialog::backdrop {
  background: rgba(0, 0, 0, 0.482);

}

dialog {
  text-align: left;
  border-color: var(--PaleDogwood);
  border-radius: 15px;
  padding: 2rem;

  h1 {
    padding: 0;
    margin-top: 0;
  }


}

dialog>button {
  background-color: transparent;
  border: none;
  justify-self: flex-end;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    background-color: var(--ChampagnePink);

  }
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: .8rem;
    margin: 0;
  }

  input {
    background-color: #f1f1f1;
  }
}

.login-form>button {
  text-align: center;
  background-color: var(--Melon);
  font-family: "Lexend", sans-serif;
  border: none;
  border-radius: 20px;
  padding: .8rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--ChampagnePink);

  }
}

.form-error {
  display: flex;
  align-items: center;
  gap: .3rem;
  font-size: .8rem;
  color: var(--Melon);

}

.modal-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

/************************* HEADER *************************/

.header-home {
  background-color: var(--Melon);
  height: 80vh;
  padding-inline: 2rem;
  position: relative;
  overflow: hidden;
  display: flex;

}

.indicators {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;

}

.dot.active {
  background-color: white;
}

.slides {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  transition: transform 0.6s ease;


  div {

    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.slides h1 {
  font-size: clamp(2rem, 7vw, 4rem);
  color: black;
  margin: 0;

  span {
    display: inline-block;
    font-size: 2rem;
    line-height: 1.52;
  }
}


.slides div img {

  max-height: 80vh;

}

/************************* HOME *************************/

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 3rem;
}

.main-home h2 {
  font-size: 2.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

}

section>div {
  display: flex;
  gap: 2rem;
  height: min-content;


}

section img {
  display: block;
  height: 100%;
  max-width: 400px;
  border-radius: 10px;

}

section:nth-child(2)>div {
  flex-direction: row-reverse;
}


section button {
  width: max-content;
  background-color: var(--Melon);
  font-family: "Lexend", sans-serif;
  border: none;
  border-radius: 10px;
  padding: .8rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--ChampagnePink);

  }
}

/************************* CARDS *************************/


.section-cards {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  text-align: left;
  height: min-content;
  align-items: stretch;


}


.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid var(--ChampagnePink);
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 10px;
  min-width: 170px;
  max-width: 250px;


  h3 {
    margin: 0;
  }

  p {
    color: #5f5f5f;

  }
}


.cards svg {
  position: absolute;
  top: 15px;
}

/************************* MAP *************************/

article {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: var(--PaleDogwood);
}

.info h4 {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.info p {
  display: flex;
  gap: 1rem;
}

.map {
  height: 400px;
  width: 400px;

 
}
.map img{
  width: 100%;
   border-radius: 5px;

}

/************************* FOOTER*************************/

footer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  h1{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.rrss {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: solid 1px var(--Melon);
  justify-content: flex-end;
  svg {
    cursor: pointer;
  }
  p{
    justify-self: flex-start;
    margin-right: auto;
  }
}




/*Css de CreatePost.jsx*/
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: "Lexend", sans-serif;
}

.container h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 50px;
}

.information1 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
  padding-top: 10px;

}

.information2 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 40px;

}

input,
select,
textarea {
  gap: 30px;
  padding: 12px;
  border: none var(--ChampagnePink);
  background-color: var(--PaleDogwood);
  border-radius: 10px;
  font-size: 14px;
}

select {
  min-width: 195px;
}

.photo {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
  align-items: center;
  margin-bottom: 15px;
}

.photo input {
  flex: .7;
  border-radius: 10px 0 0 10px;
}

.file-upload {
  background-color: #f1f1f1;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.photo button {
  padding: 12px;
  background-color: var(--Melon);
  color: black;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  cursor: pointer;
}

.description label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.textareaCp {
  width: 450px;
  resize: none;
  height: 170px;

}

.btn-submit {
  width: 65%;
  padding: 14px;
  background-color: var(--Melon);
  color: black;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
}

.btn1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;

}





/****************ADOPTIONFORM*********************/

.FormAdopt {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.informationAdoption h1 {
  text-align: center;
}

.knowledge {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.Infor {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: var(--Melon);
  color: var(--Seashell);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.sub {
  padding-left: 700px;
  font-size: 40px;
}

.slideAdoption h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
}

.form-grid input,
.form-grid select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid 555;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s ease-in-out;
}

.form-grid input:focus,
.form-grid select:focus {
  border-color: #555;
}

.slideAdoption form label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 16px;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: auto;
  background-color: var(--Seashell);
  border: solid 1px var(--ChampagnePink);
  padding-bottom: 10px;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.slideAdoption {
  width: 100%;
  flex-shrink: 0;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.carousel-dots .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dots .dot.active {
  background-color: black;
}









/***************AdoptionList************/

.filtrer {
  display: flex;
  gap: 20px;
  margin: 20px auto;
  flex-wrap: wrap;
}

.filtrer select {
  padding: 8px 10px;
  font-size: 15px;
  border: 2px solid var(--ChampagnePink);
  border-radius: 8px;
  background-color: var(--PaleDogwood);
}



.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20xp;
  padding: 60px;
}


.card {
  width: 230px;
  border: 1px solid var(--ChampagnePink);
  border-radius: 15px;
  background-color: var(--Seashell);
  cursor: pointer;
  margin: 15px;
}


.img img {
  width: 100%;
  height: 185px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}


.cardInfo {
  padding: 20px;
}

.cardInfo h3 {
  margin-bottom: 10px;
}

.cardInfo p {
  margin: 2px 0;
  font-size: 15px;
}

.submit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.btnA {
  display: flex;
  justify-content: flex-end;
}



.submit-button {
  padding: 10px 20px;
  background-color: var(--Melon);
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

/************************* STAFF *************************/
.main-staff {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--Seashell);
  gap: 1rem;
  padding: 2rem 0 0 0;
  padding-bottom: 2rem;
  border-top: solid 1px var(--PaleDogwood);
  border-bottom: solid 1px var(--PaleDogwood);

  &>p {
    margin: 0;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2rem;

  }

  button {
    text-align: center;
    background-color: var(--Melon);
    font-family: "Lexend", sans-serif;
    border: none;
    border-radius: 20px;
    padding: .8rem;
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
    margin: auto;

    &:hover {
      background-color: var(--ChampagnePink);

    }

  }
}

.container-staff {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.staff-pictures {
  width: min-content;
}

/************************* REGISTER *************************/

.main-register {
  display: flex;
  height: 80vh;
  border-bottom: solid 1px var(--Melon);
  border-top: solid 1px var(--Melon);
}

.register-image {

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.register-image img {
  height: 100%;
  object-fit: contain;
  display: block;
}

.form-container {
  text-align: left;
  width: 100%;
  padding: 4rem;

  button {
    text-align: center;
    background-color: var(--Melon);
    font-family: "Lexend", sans-serif;
    border: none;
    border-radius: 20px;
    padding: .8rem;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: var(--ChampagnePink);

    }
  }

  h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  input {
    background-color: #f1f1f1;
  }

}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

}

.input-group {
  display: flex;
  flex-direction: column;

  p {
    margin: .3rem;
  }

}

.input-group:last-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1rem;
  background-color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;

  span {
    margin-left: .8rem;
    font-size: 14px;
  }
}


/************************* PET PROFILE *************************/

.pet-main {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 4rem;
  background-color: var(--Seashell);

}

.pet-info p:last-of-type {
  width: 50ch;
}

.pet-info span {
  color: #5e5e5e;
}

.pet-info button {
  text-align: center;
  background-color: var(--Melon);
  font-family: "Lexend", sans-serif;
  border: none;
  border-radius: 20px;
  padding: .8rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--ChampagnePink);

  }
}

.pet-photo {
  display: flex;

}

.pet-photo img {
  width: 100%;
}








/************************* MEDIAQUERIES *************************/

@media (max-width: 960px) {
  .main-home {
    padding: 2rem;
  }

  .section-cards {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }

  .cards {
    min-width: fit-content;
    padding-top: 2rem;
  }

  .cards:last-child {
    display: none;
  }

  section img {
    height: auto;
    max-width: 30vw;
    object-fit: cover;
    object-position: center;
  }
}